<div class="chat {{active}}">
  <div data-component="avatar"></div>
  <div class="chat__center">
    <span class="chat__name {{active}}">{{name}}</span>
    <span class="chat__isOnline">{{isOnline}}</span>
    <p class="chat__msg {{active}}">{{text}}</p>
  </div>
  <div class="chat__right">
    <span class="chat__time">{{time}}</span>
    {{#if count}}
      <div class="chat__count">{{count}}</div>
    {{/if}}
  </div>
</div>