<div class="profile">
  <div class="profile__avatar">
    {{> avatar img=profile.img size=profile.size editAvatar=profile.editAvatar}}
  </div>
  <form class="profile__form-edit">
    <label class="profile__label">
      <p class="profile__text">{{profile.email}}</p>
      <input placeholder="Почта" class="profile__field" name='email'></input>
    </label>
    <label class="profile__label">
      <p class="profile__text">{{profile.login}}</p>
      <input placeholder="Логин" class="profile__field" name='login'></input>
    </label>
    <label class="profile__label">
      <p class="profile__text">{{profile.name}}</p>
      <input placeholder="Имя" class="profile__field" name='first_name'></input>
    </label>
    <label class="profile__label">
      <p class="profile__text">{{profile.surname}}</p>
      <input placeholder="Купова" class="profile__field" name='second_name'></input>
    </label>
    <label class="profile__label">
      <p class="profile__text">{{profile.nickname}}</p>
      <input placeholder="Имя в чате" class="profile__field" name='display_name'></input>
    </label>
    <label class="profile__label">
      <p class="profile__text">{{profile.city}}</p>
      <input placeholder="Москва Россия" class="profile__field" name='city'></input>
    </label>
    <label class="profile__label">
      <p class="profile__text">{{profile.telephone}}</p>
      <input placeholder="Телефон" class="profile__field" name='phone'></input>
    </label>
    <div class="profile__bottom">
      <div class="profile__icon-edit">
        <span class="profile__text-edit">Изменить пароль</span>
      </div>
      <div class="profile__icon-exit">
        <span class="profile__text-exit">Выйти</span>
      </div>
    </div>

    {{> button button=profile.button classButton=profile.classButton}}
  </form>

</div>