<div class="error">
  <img src='{{img}}' class="error__img" alt="Ошибка {{error}}">
  <div class="error__info">
    <h1 class="error__title">{{error}}</h1>
    <p class="error__text">{{text}}</p>
    <a href={{href}}>
      <div data-component="button"></div>
    </a>
  </div>
</div>
