<label class="label-profile">
  <input placeholder="{{name}}" class="field field-profile" name={{name}} type={{type}} maxlength={{max}} minlength={{min}}
    autofocus={{autofocus}} value="" autocomplete="off"></input>
  <div class="{{name}}-error error-msg">{{error}}</div>
  <p class="text-profile">{{name}}</p>
</label>