<label class="label">
  <input class="field" placeholder={{text}} name={{name}} required={{required}} type={{type}} maxlength={{max}}
    minlength={{min}} autofocus={{autofocus}} value="" autocomplete="off" data-patter="{{patter}}"/>
  <span class="{{name}}-error error-msg">{{error}}</span>
</label>