<label class="label">
  <input class="field" placeholder={{name}} name={{name}} required={{required}} type={{type}} maxlength={{max}} minlength={{min}} autofocus={{autofocus}} value=""/>
  <span class="{{type}}-error error-msg"></span>
</label>
